<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BLACK0.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,373},{22,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>BLACK1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>BLACK10.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,274},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>BLACK11.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,302},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>BLACK12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>BLACK2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,357},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>BLACK3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,349},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>BLACK4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,351},{22,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>BLACK5.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,304},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>BLACK6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>BLACK7.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,316},{20,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>BLACK8.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,300},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>BLACK9.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,307},{18,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{18,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>CARD0.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,93},{89,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,119}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
            <key>CARD1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{89,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,119}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
            <key>CARD2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{89,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,119}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
            <key>CARD3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,119}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
            <key>CardBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,267},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,47}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
            <key>CardBack_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,184},{81,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{81,110}}</string>
                <key>sourceSize</key>
                <string>{87,116}</string>
            </dict>
            <key>HandReminder.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{88,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,118}}</string>
                <key>sourceSize</key>
                <string>{88,118}</string>
            </dict>
            <key>RED0.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,333},{22,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>RED1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,283},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>RED10.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,297},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>RED11.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,274},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>RED12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,267},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>RED2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,328},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>RED3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,327},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>RED4.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,304},{22,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>RED5.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,250},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>RED6.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,217},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>RED7.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,184},{20,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>RED8.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,267},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>RED9.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,274},{18,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{18,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:659ddd9473e2c74f26925d88fe4b514a:1/1$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
